@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #09090B;
  overflow-x: hidden;
  position: relative;
}

.glass {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("../components/images/banner-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

:root {
  --background: #09090B;
  --card: #18181B;
  --glass: rgba(24, 24, 27, 0.6);
  --border: #27272A;
  --foreground: #F0F0F0;
  --secondary-foreground: #A1A1AA;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.frutiger-button {
  cursor: pointer;
  position: relative;
  padding: 2px;
  border-radius: 6px;
  border: 0;
  text-shadow: 1px 1px #000a;
  background: linear-gradient(#006caa, #00c3ff);
  box-shadow: 0px 4px 6px 0px #0008;
  transition: 0.3s all;
}

.frutiger-button:hover {
  box-shadow: 0px 6px 12px 0px #0009;
}

.frutiger-button:active {
  box-shadow: 0px 0px 0px 0px #0000;
}


.frutiger-button .inner {
  position: relative;
  inset: 0px;
  padding: 5px 15px;
  border-radius: 4px;
  background: radial-gradient(circle at 50% 100%, #30f8f8 10%, #1a0eff00 55%),
    linear-gradient(#00526a, #009dcd);
  overflow: hidden;
  transition: inherit;
}

.frutiger-button .inner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(-65deg, #0000 40%, rgba(72, 0, 255, 0.467) 50%, #0000 70%);
  background-size: 200% 100%;
  background-repeat: no-repeat;
}


.inner::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  transition: inherit;
  box-shadow: inset 0px 2px 8px -2px #0000;
}

.frutiger-button:active .inner::after {
  box-shadow: inset 0px 2px 8px -2px rgba(109, 5, 255, 0.667);
}

.frutiger-button .inner .text {
  position: relative;
  z-index: 1;
  color: white;
  font-weight: 550;
  transition: inherit;
}